name: Build Flutter Web

on:
  workflow_dispatch:
  workflow_call:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0'
        channel: 'stable'

    - name: Get dependencies
      run: flutter pub get

    - name: Enable Flutter web
      run: flutter config --enable-web

    - name: Build Flutter web app
      run: flutter build web --wasm

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: web-build
        path: build/web
        retention-days: 1  # Adjust as needed
